@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-size: 1em;
	text-decoration: none; 
	font-family: 'Roboto', Serif;
}

.ds-none {
	display: none !important;
}

.ds-none-mobile {
	display: none !important;
}